# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# VSCode specific files
.vscode/

# Ansible and Molecule specific files
.ansible/
collections/
tests/output/
molecule/.cache/
molecule/.config/
molecule/.local/
molecule/.pytest_cache/
molecule/default/.molecule/
*.retry
*.log

# Python virtual environment
venv/
__pycache__/
